<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!--===============================================================================================-->
</head>
<body>



<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
						<th class="column1">User ID</th>
                        <th class="column2">Name</th>
                        <th class="column3">Email</th>
                        <th class="column4">Password</th>
                        <th class="column5">Phone</th>
                         <th class="column6">Num Trips</th>
                        <th class="column7">Positive Points</th>
						<th class="column8">Negative Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <td class="column1">{{ user.user_id }}</td>
                        <td class="column2">{{ user.name }}</td>
                        <td class="column3">{{ user.email }}</td>
                        <td class="column4">{{ user.password }}</td>
                        <td class="column5">{{ user.phone }}</td>
                        <td class="column6">{{ user.num_trips }}</td>
                        <td class="column7">{{ user.positive_points }}</td>
                        <td class="column8">{{ user.negative_points }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>