<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
​
<body style="background-color:#E6E6FA">
<div class="container">
  <br><br><br><br>
  <h2>Hello {{name}},<br> <p></p> the status of your points is:</h2>
  <br><br><br><br> <br><br><br><br>  <br><br>
  <div class="progress md-progress">
    <div class="progress-bar progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="5"  style=" width:{{num*10}}%">{{num}} points
    </div>
  </div>
  <div align="right">
    10 points</div>
</div>
​
</body>
</html>